In [ ]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [ ]:
con = duckdb.connect(database='dados_duck.db', read_only=False)

In [ ]:
con.execute("DROP TABLE IF EXISTS bronze_z0019;")

In [ ]:
con.execute("""
CREATE TABLE bronze_z0019 AS
SELECT *, 'z0019_1.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao, 1 AS row
FROM read_csv_auto('../landing/z0019_1.csv')
UNION ALL
SELECT *, 'z0019_2.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao, 1 AS row
FROM read_csv_auto('../landing/z0019_2.csv')
""")

In [ ]:
con.execute("""
DROP TABLE IF EXISTS bronze_z0019
""")

In [ ]:
con.execute("DROP TABLE IF EXISTS bronze_z0019")

In [ ]:
con.execute("""
    CREATE TABLE bronze_z0019 AS
    SELECT *, 'z0019_1.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao
    FROM read_csv_auto('../landing/z0019_1.csv')
    UNION ALL
    SELECT *, 'z0019_2.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao
    FROM read_csv_auto('../landing/z0019_2.csv')
""")

In [ ]:
df = con.execute("SELECT * FROM bronze_z0019").fetchdf()
df.head(10)

In [ ]:
con.execute("CHECKPOINT;")

In [ ]:
import os
print("Caminho atual:", os.getcwd())
print("Arquivos em 'landing/':", os.listdir())

In [ ]:
con.close()

In [ ]:
con.execute("DROP TABLE IF EXISTS bronze_z0019")

In [ ]:
'landing/z0019_1.csv'

In [ ]:
con.execute("DROP TABLE IF EXISTS bronze_z0019")

con.execute("""
    CREATE TABLE bronze_z0019 AS
    SELECT *, 'z0019_1.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao
    FROM read_csv_auto('landing/z0019_1.csv')
    UNION ALL
    SELECT *, 'z0019_2.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao
    FROM read_csv_auto('landing/z0019_2.csv')
""")

In [ ]:
import os

# Ver o caminho atual onde o notebook est√° rodando
print("Caminho atual:", os.getcwd())

# Ver o que existe dentro da pasta "landing"
print("Arquivos em 'landing/':", os.listdir('landing'))

In [ ]:
'../landing/z0019_1.csv'
'../landing/z0019_2.csv'

In [ ]:
df = con.execute("SELECT * FROM bronze_z0019").fetchdf()
df.head(10)

In [ ]:
con.execute("DROP TABLE IF EXISTS bronze_z0019")

con.execute("""
    CREATE TABLE bronze_z0019 AS
    SELECT *, 'z0019_1.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao
    FROM read_csv_auto('../landing/z0019_1.csv')
    UNION ALL
    SELECT *, 'z0019_2.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao
    FROM read_csv_auto('../landing/z0019_2.csv')
""")

In [ ]:
con.execute("""
    CREATE TABLE bronze_z0019 AS
    SELECT *, 'z0019_1.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao
    FROM read_csv_auto('landing/z0019_1.csv')
    UNION ALL
    SELECT *, 'z0019_2.csv' AS nome_arquivo, CURRENT_TIMESTAMP AS data_ingestao
    FROM read_csv_auto('landing/z0019_2.csv')
""")

In [ ]:
df = pd.read_csv('../landing/z0019_1.csv', sep=';')

In [ ]:
df.head()

In [ ]:
arquivo = 'z0019_1.csv'
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df.head()

In [ ]:
print(datetime.now())

In [ ]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}', sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao
df.head()

In [ ]:
con.execute("""
    CREATE TABLE IF NOT EXISTS bronze_produtos (
        NATBR VARCHAR,
        MAKTX VARCHAR,
        WERKS VARCHAR,
        MAINS VARCHAR,
        LABST VARCHAR,
        nome_arquivo VARCHAR,
        data_ingestao TIMESTAMP
    )
""")

In [ ]:
con.execute("INSERT INTO bronze_produtos SELECT * FROM df")

In [ ]:
resultado = con.execute("SELECT * FROM bronze_z0019").fetchdf()
resultado.head(6)

In [ ]:
con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z0019")

In [ ]:
con.close()